<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>About Page</h1>
  <p>This is the about page.</p>
  <a href="/">Go Home</a>
</body>
</html>