<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= message %></h1>
    <ul>
        <% users.forEach(user => { %>
            <li><%= user %></li>
        <% }) %>
    </ul>
</body>
</html>